<?xml version="1.0" encoding="UTF-8"?>
	
<hibernate-configuration>
    <session-factory>
        <!-- JDBC connection settings -->
        <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:Xstore</property>
        <property name="hibernate.connection.username">shrikant</property>
        <property name="hibernate.connection.password">shrikant</property>

        <!-- Hibernate dialect for Oracle -->
        <property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>
               
        <!-- Schema update options -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Show SQL in console -->
        <property name="hibernate.show_sql">true</property>
        <!-- <property name="hibernate.format_sql">true</property> -->
        

	        <!-- Mapped entity classes -->
	        <mapping class="com.mapping.Answer" />
	        <mapping class="com.mapping.Question" />
	        <mapping class="com.mapping.manyToMany.Employee" />
	        <mapping class="com.mapping.manyToMany.Project" />
	        <mapping class="com.mapping.oneToManyAndManyToOne.Answer" />
	        <mapping class="com.mapping.oneToManyAndManyToOne.Question" />

    </session-factory>
</hibernate-configuration>


